<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CarangueQuiz</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="scripts/results.js" defer type="module"></script>
</head>

<body style=>
    <div class="header">
        <div class="logo">
            <img class="logo2" src="img/logo2.svg" alt="Caranguejo">
            <img class="logo1" src="img/logo1.svg" alt="Caranguejo">
        </div>
        <div class="menu">
            <ul>
                <li><a href="#" style="color:black;">Caranguejos</a></li>
                <li><a href="#">Sobre Nós</a></li>
            </ul>
        </div>
    </div>

    <div class="result">
        <br><br><br>
        <h1 style="font-size:xxx-large;padding-bottom:1%;text-align:center;">Seu Resultado:</h1> 
        <div class="resultBox">
            <h1 id="resultTitle" class="resultTitle">Você tirou o <%= result.name%></h1> <br>
            <img id="resultImg" src="https://www.besttime2travel.com/sites/default/files/styles/width_1000px/public/inline-images/Crabs%20Cuba-202.JPG?itok=u7Pqk54W" alt="Big_Caranguejo" style="width:auto;max-height:290px;" class="center-image">
            <br><br>
            <p id="resultTxt"><%= result.text%></p>
        </div>
    </div>
</body>
